body{
    background: url(../img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
  }

  .containerr {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
  }
  
  .left {
    width: 300px;
    height: 800px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .center {
    width: 1230px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .right {
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .panel_btn_atras{
    display: flex;
  }

  @media screen and (max-width: 1600px) {
    .left {
      display: none;
    }
    .right {
      display: none;
    } 
     .containerr {
      justify-content: center;
      width: 100%;
      padding: 10px;
    }
  }
  
  /* Estilos para pantallas mayores a 500px */
  @media screen and (min-width: 501px) {

  }
